.custom-btn {
  border-top-right-radius: 2rem;
  border-top-left-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
  border-bottom-left-radius: 2rem;
}

.custom-btn-secondary {
  background-color:  $purple-600;
  border-color: $purple-600;
}