.custom-video-bg::after {
  content: "";
  position: absolute;
  inset: 0;
  --bs-bg-opacity: 0.5;
  background-color: rgba(var(--bs-black-rgb), var(--bs-bg-opacity)) !important;
}

.custom-btn-secondary {
  background-color:  $purple-600;
  border-color: $purple-600;
}
